;; https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-configuration-settings

[defaults]
remote_user = root
host_key_checking = False
interpreter_python = auto_silent
forks = 10
callback_result_format = yaml
inventory_cache = true
display_failed_stderr = true
display_skipped_hosts = false
deprecation_warnings = false
roles_path = ./roles
